# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
app/src/main/res/drawable-mdpi/
app/src/main/res/drawable-xxxhdpi/
build/android-profile/profile-2018-06-27-16-29-53-575.json
build/android-profile/profile-2018-06-27-16-29-53-575.rawproto
build/android-profile/profile-2018-06-27-16-30-05-213.json
build/android-profile/profile-2018-06-27-16-30-05-213.rawproto
